//颜色定义规范
$color-banckground = #4BB892
$color-text = #4BB892
$color-fff = #fff
$color-8A = #8A8A8A
$font-weight = 550
$font-weight-x = 700

//字体定义规范
$font-size-small-s =10px
$font-size-small =12px
$font-size-medium =14px
$font-size-medium-x =16px
$font-size-large =18px
$font-size-large-x =24px

//间距
$padding-small-s = 2px
$padding-small = 5px
$padding-medium-s = 10px
$padding-medium = 10px
$padding-large = 15px
$padding-larg-x = 30px
$padding-larg-xl = 65px

//圆角
$border-radius = 6px
$border-radius-m = 10px